@import "../fonts/fonts.css";
@import "../colors/colors.css";

.label-row {
    display: grid;
    grid-template-columns: [line1] 350px [line2] 350px [line3] auto [line4] auto [end];
    position: relative;
    width: 90%;
    border-bottom: 1px solid var(--color-gray-light);
    padding-top: 3em;
}

.label-row h4 {
    text-transform: uppercase;
    margin-right: 30em;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
}
