@import "../fonts/fonts.css";
@import "../colors/colors.css";

.user-row {
    display: grid;
    grid-template-columns: [line1] 100px [line2] 250px [line3] auto;
    position: relative;
    width: 90%;
    border-bottom: 1px solid var(--color-gray-light);
    padding: 1em 0;
}

.user-row h3 {
    grid-column-start: line2;
}

.user-row p {
    grid-column-start: line3;
}

